@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Your Recipe Awaits!</h1>
    <p>Welcome to Your Recipe, a platform where you can share your unique cooking Ideas and refreshing beverages.</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-4"><div class="image image1"></div></div>
        <div class="col-4"><div class="image image2"></div></div>
        <div class="col-4"><div class="image image3"></div></div>
    </div>
    <div class="row">
        <div class="col-4"><div class="image image4"></div></div>
        <div class="col-4"><div class="image image5"></div></div>
        <div class="col-4"><div class="image image6"></div></div>
    </div>
</div>
<div class="container text-center">
    <button class="btn btn-warning btn-large mt-2">Get Started</button>
</div>